{% extends "base.html" %}
{% block main %}
<main>
    <section class="banner-area">
        <h3>Welcome to Task Manager v1.0</h3>
        <div id="firebase-auth-container"></div>
        <button id="sign-out" hidden="true">Sign out</button>
        <div id="login-info" hidden="true">
            <!--h2>Login Info</h2-->
            {% if user_data %}
                <p>Name: {{ user_data['name'] }}</p>
                <p>Email: {{ user_data['email'] }}</p>
                
                <form action="/create_board" method="POST" style="margin-top: 1em;">
                    <fieldset style="display: inline;">
                        <legend style="padding: 1em; text-transform: uppercase; font-weight: 600;">
                            Create a New Board
                        </legend>
                        <label for="name" style="margin-left: 1em;">Board Name</label>
                        <input type="text" name="name" placeholder="Enter board name" required>
                        <input type="submit" name="submit" value="Create Board" class="formbutton" style="margin-right: 1em;">
                    </fieldset>
                </form>

                <fieldset style="display: inline; min-width: 447px; padding-bottom: 1em;">
                    <legend style="padding: 1em; text-transform: uppercase; font-weight: 600;">
                        My Boards
                    </legend>
                    {% for board in boards %}
                    <p style="line-height: 30px;"><a href="/board/{{ board.id }}">{{ board.name }}</a></p>
                    {% endfor %}
                </fieldset>
            {% elif error_message %}
                <p>Error Message: {{ error_message }}</p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}