{% extends "base.html" %}
{% block main %}
<!-- The Modal -->
<section class="banner-area">
    <!-- Modal content -->
    <div>
        <form action="/update_task/{{ current_id }}" method="POST" style="margin-top: 1em;">
            <fieldset style="display: inline;">

                <legend style="padding: 1em; text-transform: uppercase; font-weight: 600;">
                    Edit Task
                </legend>

                <input type="number" name="board_id" value="{{ board_id }}" hidden>

                <label for="title">Task Title</label>
                <input type="text" name="title" value="{{task.title}}" required
                    style="margin-right: 1em; min-width: 180px;"><br>

                <label for="due_date">Due Date</label>
                <input type="date" name="due_date" value="{{task.due_date}}" required style="margin-right: 1em; min-width: 180px;"><br>

                <label for="assigned_to">Assign Task</label>
                <select name="assigned_to" id="assigned_to" style="margin-right: 1em; min-width: 180px;">
                    <option value="unassigned">Unassigned</option>
                    {% for user in users %}
                    <option value="{{ user.email }}"> {{ user.email }}</option>
                    {% endfor %}
                </select><br>

                <div style="display: flex; justify-content: right;">
                    <input type="submit" name="submit" value="Update Task" class="formbutton"
                        style="margin-right: 1em;">
                </div>

            </fieldset>
        </form>

    </div>

</section>
{% endblock %}